* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
}

.link {
  margin-left: 60vw;
  margin-top: 2vh;
  font-size: 0;
}

.icon {
  width: 35px;
  height: 35px;
}

.social-icon {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 15px;
  transition: all 0.3s ease;
  border: none;
}

.social-icon:hover {
  transform: scale(1.25);
}

#github {
  margin-right: 2vh;
}

.tituloInicial {
  font-size: 1.1em;
  margin: 4vh;
  text-align: center;
}

.caixaDialogo {
  background-color: #11b9d6;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 460px;
  width: 90vw;
  border-radius: 20px;
}

.explicação {
  color: #fff;
  font-size: 0.8em;
  margin: 25px;
  margin-left: 30px;
}

.tituloSecundario {
  font-size: 1em;
  margin-bottom: 1vh;
}

.inputs {
  font-size: 0.8em;
  color: #fff;
}

.primeiroInput,
.segundoInput {
  font-size: 0.8em;
  height: 25px;
  width: 110px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.primeiroInput {
  margin-bottom: 1.5vh;
}

.segundoInput {
  margin-bottom: 3vh;
}

.descricao {
  margin-bottom: 1vh;
}

.botoes button {
  font-size: 1em;
  height: 25px;
  width: 100px;
  border: none;
  border-radius: 20px;
}

.enviar {
  margin-right: 3vh;
  background-color: #df892e;
}

.caixaResultado {
  background-color: #df892e;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  border-radius: 20px;
  margin-top: 60px;
  margin-bottom: 35px;
}

#resultadoImc,
#valor {
  margin: 20px;
}

#resultadoImc {
  font-size: 1.2em;
}

#valor {
  font-size: 1.5em;
}

.tabela {
  text-align: center;
  font-size: 0.6em;
  border: 2px solid #df892e;
}

.tabela th,
.tabela td {
  padding: 10px;
}

.tabela th {
  font-size: 1.2em;
}
