* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #50a1d0;
  font: normal 15pt Arial;
  text-align: center;
}

header {
  color: #fff;
  text-align: center;
  margin: 50px 0 20px;
}

section {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 3px 3px 10px #00000089;
}

footer {
  color: #fff;
  text-align: center;
  font-style: italic;
  margin: 30px;
}

.caixaCalculo,
.botoes button,
#primeiroInput,
#segundoInput,
.caixaResultado {
  border-radius: 30px;
}

#prancheta {
  width: 80px;
  height: 80px;
  margin-left: 20px;
  margin-bottom: 10px;
}

#tituloSecundario {
  margin: 15px 0 30px;
}

.descricao {
  margin-bottom: 20px;
}

#primeiroInput,
#segundoInput {
  background-color: #bdbdbd;
  font-size: 0.8em;
  height: 40px;
  width: 20vw;
  border: none;
  text-align: center;
  margin-bottom: 20px;
}

#segundoInput {
  margin-bottom: 30px;
}

.botoes button {
  font-size: 1em;
  height: 40px;
  width: 110px;
  border: solid #000;
  margin-bottom: 10px;
}

#enviar {
  color: #fff;
  background-color: #000;
  margin-right: 20px;
}

.caixaResultado {
  display: none;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 25px;
}

#resultadoImc,
#valor {
  padding-bottom: 20px;
}

#resultadoImc {
  font-size: 1.2em;
}

#valor {
  font-size: 3.5em;
}

#classificacao {
  font-size: 1.5em;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  section {
    width: 90vw;
  }

  #primeiroInput,
  #segundoInput {
    width: 50vw;
  }
}
