* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  font-size: 18px;
  background-color: #039846;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.link {
  margin-left: 65vw;
  margin-top: 3vh;
  font-size: 0;
}

.icon {
  width: 35px;
  height: 35px;
}

.social-icon {
  background-color: transparent;
  transition: all 0.3s ease;
  border: none;
}

.social-icon:hover {
  transform: scale(1.25);
}

#github {
  margin-right: 20px;
}

.caixaDialogo {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tituloInicial {
  font-size: 2em;
  margin-top: 7vh;
}

#explicação {
  text-align: center;
  font-size: 1em;
  padding: 7vw;
}

.caixaCalculo {
  color: #000;
  background-color: #fff;
  text-align: center;
  padding: 20px;
  width: 90vw;
  margin: 50px auto;
}

.caixaCalculo,
.botoes button,
#primeiroInput,
#segundoInput,
.caixaResultado {
  border-radius: 30px;
}

#prancheta {
  width: 80px;
  height: 80px;
  margin-left: 20px;
}

#tituloSecundario {
  padding: 15px 0 30px;
  font-size: 1.5em;
}

.descricao {
  padding-bottom: 20px;
}

#primeiroInput,
#segundoInput {
  background-color: #bdbdbd;
  font-size: 1em;
  height: 40px;
  width: 70vw;
  border: none;
  text-align: center;
  margin-bottom: 30px;
}

.botoes button {
  font-size: 1em;
  height: 40px;
  width: 110px;
  border: solid #000;
}

#enviar {
  color: #fff;
  background-color: #000;
  margin-right: 20px;
}

.caixaResultado {
  display: none;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 25px;
}

#resultadoImc,
#valor {
  padding-bottom: 20px;
}

#resultadoImc {
  font-size: 1.2em;
}

#valor {
  font-size: 3.5em;
}

#classificacao {
  font-size: 1.5em;
  font-weight: bold;
}

table {
  color: #000;
  background-color: #fff;
  width: 90vw;
  border-collapse: collapse;
  border-radius: 30px;
  margin-bottom: 40px;
}

th,
td {
  font-size: 0.9em;
  border: none;
  padding: 15px;
  text-align: center;
}

th {
  color: #ffffff;
  background-color: #015326;
}

#topoEsqTabela {
  border-top-left-radius: 30px;
}

#topoDirTabela {
  border-top-right-radius: 30px;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 25px;
  }

  .link {
    margin-top: 5vh;
    margin-left: 85vw;
  }

  .icon {
    width: 45px;
    height: 45px;
  }

  #explicação {
    padding: 5vh 25vw 1vh;
  }

  .caixaCalculo {
    font-size: 1em;
    width: 500px;
  }

  #primeiroInput,
  #segundoInput {
    height: 50px;
    width: 16vw;
  }

  table {
    font-size: 1em;
    width: 60vw;
  }
}
